.statusHeader {
	width: 100%;

	h1 span {
		color: #666;
	}
}

.statusBar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 10px;
	position: relative;

	.statusWrap {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0 auto;
		position: relative;
		
		.status {
			width: 100%;
			margin: 0 auto;
			padding: 10px;
			background-color: #EAEAEA;
			position: relative;
			word-wrap: break-word;

			&::before {
				display: block;
				content: '';
				position: absolute;
				width: 11px;
				height: 11px;
				left: 5px;
				top: -5px;

				background: #EAEAEA;
				transform: rotate(45deg);
			}
		}
	
		.btn {
			position: absolute;
			right: 0;
			top: -30px;

			background-color: transparent;
			border: none;
			cursor: pointer;
			color: #0C77BB;
			&::after {
				display: block;
				content: '';
	
				width: 100%;
				height: 1px;
				margin: 0 auto;
				border-bottom: 1px dotted #0C77BB;
			}
			&:hover, &:focus, &:visited {
				color: #015081;
			}
	}

	}
}

.statusModalWrap {
	z-index: 1;
	position: fixed;
	top: -200%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(102, 102, 102, 0.37);
	transition: all 1s cubic-bezier(.2,-.75,.7,2);
	// padding-top: 50px;
	display: flex;
	align-items: center;

	.statusModal {
		width: 500px;
		margin: 0 auto;
		box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 20px;
		background-color: #fff;
		padding: 25px 25px 10px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		
		.statusInput {
			resize: none;
			height: 50px;
			padding: 10px;
			border: 2px solid rgba(138, 138, 255, 0.568);
			outline: none;
		}
		.saveStatusBtn {
			position: sticky;
		}
	
		.modalBtns {
			display: flex;
			gap: 3px;
			padding: 5px 0;
			justify-content: space-between;
	
			div {
				display: flex;
				gap: 5px;
			}
		}
		.confirmBtn {
			padding: 10px;
			border: none;
			background-color: rgb(0, 180, 0);
			color: white;
			cursor: pointer;
			border-radius: 8px;
			min-height: 1em;
			transition: background-color .2s linear;
			&:hover, &:focus {
				background-color: green;
				outline: none;
			}
		}
		.cancelBtn {
			padding: 5px;
			border: none;
			background-color: rgb(221, 0, 0);
			color: white;
			cursor: pointer;
			border-radius: 8px;
			min-height: 1em;
			transition: background-color .2s linear;
	
			&:hover, &:focus {
				background-color: rgb(187, 0, 0);
				outline: none;
			}
		}
		.statusMaxLength {
			opacity: 0;
			background-color: rgb(255, 47, 47);
			color: white;
			width: fit-content;
			padding: 5px 10px;
			font-size: .8em;
			border-radius: 10px;
			transition: opacity .5s linear;
			align-items: center;
			text-align: center;
		}
		.maxLengthed {
			opacity: 1;
		}
	}
}


.activeModal {
	top: 0px;
}