@import '../../styles/mixins.module.scss';

.selectWrap {
  margin: 30px 0;
  @include gridBlock;

  .selectBtn {
    width: 335px;
    border: 1px solid #999;
    padding: 0;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
    
    &:focus, &:active {
      outline: none;
    }
  }
}