@import './mixins.module.scss';

.BarWrap {
  margin: 30px 0;
  padding: 30px 0;
  border-top: 1px solid #E5E4E4;
  border-bottom: 1px solid #E5E4E4;
}

.inputBar {
  position: relative;
  @include gridBlock;

  .inputWrap {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .inputError {
      opacity: 0;
      font-size: .7em;
      color: #FF0000;
      transition: opacity .3s linear;
    }

    .active {
      opacity: 1;
    }
  }

  .inputBtn {
    padding: 5px;
    height: 15px;
    outline: none;
    border: 1px solid #999;
    border-radius: 4px;

    &:active,
    &:focus {
      outline: none;
    }
  }

  .invalidData {
    border: solid #FF0000 1px;
    border-radius: 4px;
  }

  .inputMsg {
    color: #999;
    font-size: .7em;
    margin-left: 10px;
  }

}
.checkBoxWrap {
  margin: 15px 0 40px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 245px) 1fr;
  gap: 5px;
  align-items: center;
  font-size: 1.3em;
  align-items: center;

  .checkBoxBar {
    display: flex;
    gap: 10px;
    font-size: 1em;
    align-items: center;
  }
}